
.container{
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.table{
    width:60%;
    margin:30px;
}

.add_form{
    float: right;
    padding-bottom: 10px;
   
}

.modal{
    padding:10px;
    display: flex;
    align-content: center;
    justify-content: center;    
}