@value pet-wheat from "../../common/colors.css";

.card {
 background-color: pet-wheat;
 text-align: center;
 justify-items: center;
 align-items: center;
 border-radius: 5%;
 padding: 5%;
}

.login_form{
    text-align: center;
    justify-items: center;
    align-items: center;
}